*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #1f2937;
    height: 500px;
    display: ;
    flex-direction: row;
}

.nav-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 10px;
}

.logo > a {
    text-decoration: none;
    font-size: 24px;
    color: #f9faf8;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}

.nav-items {
    display: flex;
    gap: 30px;
    margin-right: 50px;
}

.nav-items > a {
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #e5e7eb;
}

.hero-con {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    gap: 30px;
}

.hero-card {
    display: block;
    width: 350px;
    padding: 5px;
}

.hero-card > h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    font-family: sans-serif;
}

.hero-card > p {
    font-size: 14px;
    color: #e5e7eb;
    font-family: 'Lucida Sans', Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}

.hero-btn {
    background-color: #3882f6;
    padding: 5px 15px;
    border: none;
    border-radius: 7px;
}

.hero-btn, a { 
    color: #e5e7eb;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.hero-btn:hover {
    background-color: #e5e7eb;
    color: #3882f6;
}

.hero-img {
    display: flex;
    align-items: center;
    
}

.hero-img > img {
    height: 200px;
    max-width: 100%;
}

.mid-con {
    border: 2px solid red;
    display: block;
    height: 350px;
}

.mid-hero > h1 {
    text-align: center;
    padding: 20px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.card {
    border: 2px solid #3882f6;
    width: 100px;
    height: 80px;
    border-radius: 10px;
}

.maincard-con {
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 30px;
}

.card-con {
    display: flex;
    flex-direction: column;
}

.card-con > p{
    width: 100px;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.quote-con {
    background-color: #e5e7eb;
    height: 200px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.quote-text {
    width: 400px;
    padding: 10px;
}

.quote-author {
    margin-left: 250px;
}